<!-- Main.handlbars -->
<!doctype html>
<link href="style.css" rel="stylesheet" type="text/css"/>

<html>
<head>
    <title>OAuth 2.0</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div>
    <img src="logo.jpg" alt="OSU logo" class="image">
</div>

{{{body}}}


 <img src="llamas.jpg" class="image">
  <img src="llamas.jpg" class="image">
 <img src="llamas.jpg" class="image">
 <img src="llamas.jpg" class="image">

</body>
</html>