<h1>USER INFO PAGE</h1>

<p>Here is the name information :</p>
<p>Names of the user : {{this.names}}</p>
<p>URL: {{url}}</p>
<div id ="nameinfo">
    <div id ="output"></div>
    <div id ="givenName"></div>
</div>
<p>State: {{state}}</p>